In [89]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Sequential
from keras.layers import Dense, Activation

In [90]:
df=pd.read_csv(r"C:\Users\Mahesh\OneDrive\Pictures\Screenshots\Documents\healthcare-dataset-stroke-data.csv")

In [91]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [92]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [93]:
df.drop(['bmi'], axis= 1)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,Unknown,0

In [94]:
le = LabelEncoder()
c = ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']
for column in c:
    df[column + '_encoded'] = le.fit_transform(df[column])

In [95]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,gender_encoded,ever_married_encoded,work_type_encoded,Residence_type_encoded,smoking_status_encoded
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1,1,1,2,1,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1,0,1,3,0,2
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1,1,1,2,0,2
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1,0,1,2,1,3
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1,0,1,3,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0,0,1,2,1,2
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0,0,1,3,1,2
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0,0,1,3,0,2
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0,1,1,2,0,1
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0,0,1,0,1,0

In [96]:
X=df[['gender_encoded','ever_married_encoded','work_type_encoded','Residence_type_encoded','smoking_status_encoded']]
y=df['stroke']

In [97]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [98]:
X_train.shape

(4088, 5)

In [99]:
X_test.shape

(1022, 5)

In [100]:
y_train

802     0
3927    0
2337    0
3910    0
1886    0
       ..
4426    0
466     0
3092    0
3772    0
860     0
Name: stroke, Length: 4088, dtype: int64

In [101]:
y_test

4688    0
4478    0
3849    0
4355    0
3826    0
       ..
3605    0
4934    0
4835    0
4105    0
2902    0
Name: stroke, Length: 1022, dtype: int64

In [105]:
model=Sequential()

In [116]:
model.add(Dense(32, activation='relu', input_shape=(X_train.shape[1],)))
model.add(Dense(20,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [134]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=40, batch_size=32, validation_split=0.2)

Epoch 1/40
16/16 [==============================] - 3s 32ms/step - loss: 0.5985 - accuracy: 0.7169 - val_loss: 0.6578 - val_accuracy: 0.6504
Epoch 2/40
16/16 [==============================] - 0s 9ms/step - loss: 0.5848 - accuracy: 0.7352 - val_loss: 0.6602 - val_accuracy: 0.6341
Epoch 3/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5864 - accuracy: 0.7291 - val_loss: 0.6635 - val_accuracy: 0.6179
Epoch 4/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5864 - accuracy: 0.7352 - val_loss: 0.6575 - val_accuracy: 0.6423
Epoch 5/40
16/16 [==============================] - 0s 10ms/step - loss: 0.5851 - accuracy: 0.7230 - val_loss: 0.6616 - val_accuracy: 0.6260
Epoch 6/40
16/16 [==============================] - 0s 9ms/step - loss: 0.5853 - accuracy: 0.7373 - val_loss: 0.6508 - val_accuracy: 0.6423
Epoch 7/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5876 - accuracy: 0.7271 - val_loss: 0.6515 - val_accuracy: 0.6585
Epoch 8/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5847 - accuracy: 0.7271 - val_loss: 0.6554 - val_accuracy: 0.6667
Epoch 9/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5881 - accuracy: 0.7312 - val_loss: 0.6577 - val_accuracy: 0.6667
Epoch 10/40
16/16 [==============================] - 0s 11ms/step - loss: 0.5925 - accuracy: 0.7189 - val_loss: 0.6396 - val_accuracy: 0.6585
Epoch 11/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5909 - accuracy: 0.7332 - val_loss: 0.6369 - val_accuracy: 0.6748
Epoch 12/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5862 - accuracy: 0.7291 - val_loss: 0.6445 - val_accuracy: 0.6748
Epoch 13/40
16/16 [==============================] - 0s 7ms/step - loss: 0.5851 - accuracy: 0.7332 - val_loss: 0.6532 - val_accuracy: 0.6748
Epoch 14/40
16/16 [==============================] - 0s 9ms/step - loss: 0.5850 - accuracy: 0.7291 - val_loss: 0.6472 - val_accuracy: 0.6341
Epoch 15/40
16/16 [==============================] - 0s 9ms/step - loss: 0.5840 - accuracy: 0.7291 - val_loss: 0.6572 - val_accuracy: 0.6504
Epoch 16/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5850 - accuracy: 0.7312 - val_loss: 0.6490 - val_accuracy: 0.6260
Epoch 17/40
16/16 [==============================] - 0s 7ms/step - loss: 0.5813 - accuracy: 0.7352 - val_loss: 0.6512 - val_accuracy: 0.6504
Epoch 18/40
16/16 [==============================] - 0s 7ms/step - loss: 0.5810 - accuracy: 0.7373 - val_loss: 0.6504 - val_accuracy: 0.6341
Epoch 19/40
16/16 [==============================] - 0s 7ms/step - loss: 0.5833 - accuracy: 0.7291 - val_loss: 0.6487 - val_accuracy: 0.6667
Epoch 20/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5799 - accuracy: 0.7332 - val_loss: 0.6449 - val_accuracy: 0.6504
Epoch 21/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5848 - accuracy: 0.7312 - val_loss: 0.6471 - val_accuracy: 0.6667
Epoch 22/40
16/16 [==============================] - 0s 9ms/step - loss: 0.5833 - accuracy: 0.7352 - val_loss: 0.6471 - val_accuracy: 0.6585
Epoch 23/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5806 - accuracy: 0.7413 - val_loss: 0.6553 - val_accuracy: 0.6341
Epoch 24/40
16/16 [==============================] - 0s 9ms/step - loss: 0.5787 - accuracy: 0.7373 - val_loss: 0.6565 - val_accuracy: 0.6423
Epoch 25/40
16/16 [==============================] - 0s 9ms/step - loss: 0.5797 - accuracy: 0.7373 - val_loss: 0.6501 - val_accuracy: 0.6504
Epoch 26/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5804 - accuracy: 0.7332 - val_loss: 0.6483 - val_accuracy: 0.6504
Epoch 27/40
16/16 [==============================] - 0s 9ms/step - loss: 0.5806 - accuracy: 0.7352 - val_loss: 0.6554 - val_accuracy: 0.6423
Epoch 28/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5781 - accuracy: 0.7332 - val_loss: 0.6540 - val_accuracy: 0.6504
Epoch 29/40
16/16 [==============================] - 0s 10ms/step - loss: 0.5767 - accuracy: 0.7393 - val_loss: 0.6564 - val_accuracy: 0.6341
Epoch 30/40
16/16 [==============================] - 0s 9ms/step - loss: 0.5764 - accuracy: 0.7373 - val_loss: 0.6492 - val_accuracy: 0.6504
Epoch 31/40
16/16 [==============================] - 0s 9ms/step - loss: 0.5800 - accuracy: 0.7332 - val_loss: 0.6541 - val_accuracy: 0.6341
Epoch 32/40
16/16 [==============================] - 0s 9ms/step - loss: 0.5792 - accuracy: 0.7332 - val_loss: 0.6508 - val_accuracy: 0.6504
Epoch 33/40
16/16 [==============================] - 0s 10ms/step - loss: 0.5763 - accuracy: 0.7332 - val_loss: 0.6563 - val_accuracy: 0.6423
Epoch 34/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5807 - accuracy: 0.7291 - val_loss: 0.6551 - val_accuracy: 0.6423
Epoch 35/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5776 - accuracy: 0.7352 - val_loss: 0.6542 - val_accuracy: 0.6423
Epoch 36/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5809 - accuracy: 0.7291 - val_loss: 0.6464 - val_accuracy: 0.6504
Epoch 37/40
16/16 [==============================] - 0s 7ms/step - loss: 0.5783 - accuracy: 0.7251 - val_loss: 0.6503 - val_accuracy: 0.6423
Epoch 38/40
16/16 [==============================] - 0s 8ms/step - loss: 0.5775 - accuracy: 0.7332 - val_loss: 0.6535 - val_accuracy: 0.6423
Epoch 39/40
16/16 [==============================] - 0s 7ms/step - loss: 0.5753 - accuracy: 0.7393 - val_loss: 0.6616 - val_accuracy: 0.6504
Epoch 40/40
16/16 [==============================] - 0s 7ms/step - loss: 0.5743 - accuracy: 0.7434 - val_loss: 0.6501 - val_accuracy: 0.6423

In [137]:
test_loss, test_acc = model.evaluate(X_test, y_test)
print('Test accuracy:', test_acc)

5/5 [==============================] - 0s 5ms/step - loss: 0.6384 - accuracy: 0.6623
Test accuracy: 0.6623376607894897

In [136]:
print('Test loss:', test_loss)

Test loss: 0.638388454914093

## bigram & trigram

In [53]:
import spacy

In [55]:
nlp=spacy.load('en_core_web_sm')

In [56]:
text=('The greatest glory in Living lies not in never falling but in raising every Lies')
doc=nlp(text)

In [120]:
b= [(token.text, doc[i + 1].text) for i, token in enumerate(doc) if i < len(doc) - 1]

In [129]:
t= [(token.text, doc[i + 1].text, doc[i + 2].text) for i, token in enumerate(doc) if i < len(doc) - 2]

In [126]:
print('BIGRAM of the above sentence:',b)

BIGRAM of the above sentence: [('The', 'greatest'), ('greatest', 'glory'), ('glory', 'in'), ('in', 'Living'), ('Living', 'lies'), ('lies', 'not'), ('not', 'in'), ('in', 'never'), ('never', 'falling'), ('falling', 'but'), ('but', 'in'), ('in', 'raising'), ('raising', 'every'), ('every', 'Lies')]

In [130]:
print('TRIGRAM of the above sentence:',t)

TRIGRAM of the above sentence: [('The', 'greatest', 'glory'), ('greatest', 'glory', 'in'), ('glory', 'in', 'Living'), ('in', 'Living', 'lies'), ('Living', 'lies', 'not'), ('lies', 'not', 'in'), ('not', 'in', 'never'), ('in', 'never', 'falling'), ('never', 'falling', 'but'), ('falling', 'but', 'in'), ('but', 'in', 'raising'), ('in', 'raising', 'every'), ('raising', 'every', 'Lies')]