In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
df = pd.read_csv(r"C:\Users\Mahesh\OneDrive\Pictures\Screenshots\Documents\crop_production.csv")

In [5]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

In [6]:
 df.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [7]:
df.describe()

           Crop_Year          Area    Production
count  246091.000000  2.460910e+05  2.423610e+05
mean     2005.643018  1.200282e+04  5.825034e+05
std         4.952164  5.052340e+04  1.706581e+07
min      1997.000000  4.000000e-02  0.000000e+00
25%      2002.000000  8.000000e+01  8.800000e+01
50%      2006.000000  5.820000e+02  7.290000e+02
75%      2010.000000  4.392000e+03  7.023000e+03
max      2015.000000  8.580100e+06  1.250800e+09

In [10]:
df.dtypes

State_Name        object
District_Name     object
Crop_Year          int64
Season            object
Crop              object
Area             float64
Production       float64
dtype: object

In [11]:
scaler = StandardScaler()
df[['Area ', 'Production']] = scaler.fit_transform(df[['Area', 'Production']])

In [12]:
df

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production,Area
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,-0.034016,-0.212750
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,-0.034133,-0.237530
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,-0.034114,-0.235551
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,-0.034095,-0.234086
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,-0.034123,-0.223319
...,...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,-0.034086,-0.231513
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,-0.034106,-0.225160
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,-0.033181,-0.231157
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,0.000902,5.287623
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,-0.034128,-0.234106

In [13]:
X = df['Area']
y = df['Production']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
X_train.shape[0]

196872

In [16]:
X_test.shape[0]

49219

In [17]:
y_train.shape[0]

196872

In [18]:
y_test.shape[0]

49219