# Ensemble Learning: Bagging 
    Mahesh C (183CS21022)

In [49]:
import pandas as pd

df = pd.read_csv('C:/Users/Mahesh/Downloads/SPLITING.csv')
df.head()

  total_sqft  bath  balcony   price
0       1056   2.0      1.0   39.07
1       2600   5.0      3.0  120.00
2       1440   2.0      3.0   62.00
3       1521   3.0      1.0   95.00
4       1200   2.0      1.0   51.00

In [50]:
df.isnull().sum()

total_sqft      0
bath           73
balcony       609
price           0
dtype: int64

In [51]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [52]:
df.balcony.value_counts()

2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_sqft  13320 non-null  object
 1   bath        13247 non-null  float64
 2   balcony     12711 non-null  float64
 3   price       13320 non-null  float64
dtypes: float64(3), object(1)
memory usage: 416.4+ KB

In [60]:
df2=df.fillna(value=1)
df2

      total_sqft  bath  balcony   price
0           1056   2.0      1.0   39.07
1           2600   5.0      3.0  120.00
2           1440   2.0      3.0   62.00
3           1521   3.0      1.0   95.00
4           1200   2.0      1.0   51.00
...          ...   ...      ...     ...
13315       3453   4.0      0.0  231.00
13316       3600   5.0      1.0  400.00
13317       1141   2.0      1.0   60.00
13318       4689   4.0      1.0  488.00
13319        550   1.0      1.0   17.00

[13320 rows x 4 columns]

In [62]:
X = df2.drop(["balcony","total_sqft"],axis="columns")
y = df2.balcony

In [61]:
df2.isnull().sum()

total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [63]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled[:3]

array([[-0.50860269, -0.49337155],
       [ 1.72428716,  0.04990648],
       [-0.50860269, -0.33944389]])

In [64]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify=y, random_state=10)

In [65]:
X_train.shape

(9990, 2)

In [66]:
X_test.shape

(3330, 2)

In [67]:
y_train.value_counts()

1.0    4129
2.0    3835
3.0    1254
0.0     772
Name: balcony, dtype: int64

In [68]:
201/375

0.536

In [69]:
y_test.value_counts()

1.0    1377
2.0    1278
3.0     418
0.0     257
Name: balcony, dtype: int64

In [70]:
67/125

0.536

In [71]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

scores = cross_val_score(DecisionTreeClassifier(), X, y, cv=5)
scores

array([0.46283784, 0.46058559, 0.46884384, 0.45683183, 0.46208709])

In [72]:
scores.mean()

0.46223723723723725

In [73]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(), 
    n_estimators=100, 
    max_samples=0.8, 
    oob_score=True,
    random_state=0
)
bag_model.fit(X_train, y_train)
bag_model.oob_score_

C:\Users\Mahesh\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

0.4677677677677678

In [74]:
bag_model.score(X_test, y_test)

0.4636636636636637

In [75]:
bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(), 
    n_estimators=100, 
    max_samples=0.8, 
    oob_score=True,
    random_state=0
)
scores = cross_val_score(bag_model, X, y, cv=5)
scores

C:\Users\Mahesh\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\Mahesh\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\Mahesh\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\Mahesh\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(
C:\Users\Mahesh\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

array([0.46809309, 0.46208709, 0.47447447, 0.46058559, 0.46584084])

In [76]:
scores.mean()

0.46621621621621623

In [77]:
from sklearn.ensemble import RandomForestClassifier

scores = cross_val_score(RandomForestClassifier(n_estimators=50), X, y, cv=5)
scores.mean()

0.46193693693693694